<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dibujemos</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body style="text-align:center">
     <div style="margin:0 auto;">
       <!-- Mude o src dessa tag para o nome do video que você possuir -->
	   	 <p >Actividad </p>
	     <p id="identificador"> </p>
		 	 <br>
		 <p id="con"> </p>
		 <button id="play">Reproducir video</button>
         <video id="video_principal"  width="640" height="480">
   HTML5 Video is required for this example
 </video>

     </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="javascripts/all.js"></script>
</body>
</html>