<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Back end</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body style="text-align:center">

<button id="ruido">Sincronizar Por audio</button>
     <div id='opciones'style="margin:0 auto;">
	<h2>Opciones a Escoger</h2>

     </div>
  <script src="/socket.io/socket.io.js"></script>
<script src="javascripts/all2.js"></script>
</body>
</html>